<ion-view title="category name">
    <!--<ion-header-bar class="bar-stable">-->
    <!--<h1 class="title">Haul Stack</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div class="card" id="createStack">
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input" id="stackInput">
                        <input type="text" placeholder="enter a category name">
                   </label>
                </div>
            </div>
            <div class="item item-image">
                <a ui-sref="stackView"> <img class="plusSign" src="img/plus_sign.png" ></a>
            </div>
        </div>
    </ion-content>
</ion-view>