    <ion-view title="Haul Stack">
        <ion-content>
            <div class = "homeTopBoxes">
                <div class ="smallBox"></div>
                <div class ="mediumBox" id="purpleHomeBox"></div>
                <div class ="largeBox" id ="largeBlueBox">
                    <p id="homeText">Stack and View your Gear</p>
                </div>
                <div class ="mediumBox" id="blackMediumBox"></div>
            </div>
            <!--Login bottom boxes-->
            <div class = "homeBottonBoxes">
                <div class="largeBox" id="loginBox">
                   <form>
                        <p>login</p>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">u:</span>
                                <input  type="text" id="username"
                                       ng-model="user.username"/>
                            </label>
                            <label class="item item-input">
                                <span class="input-label">p:</span>
                                <input name="password" type="password"
                                        ng-model="user.password"/>
                            </label>
                            <button ng-click="login()" class="button button-small button-positive">Sign In</button>
                            <button ng-click="register()" class="button button-small button-positive">Register</button>
                        </div>
                   </form>
                </div>
                <div id="bottomBlackBox"></div>
                <div id="bottomPupleBox"></div>
            </div>
        </ion-content>
    </ion-view>