<ion-view title={{item.name}}>
    <ion-nav-buttons side="right">
        <button ng-click="deleteItem()" ng-show=" item.name !== 'new item'" class="button button-icon button-clear ion-trash-a"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="photoDiv">

            <div class="photoBkg">
                <img src="{{item.pictureURI}}" class="cameraImage" ng-show=(item.pictureURI)>
                <i class="icon-center ion-camera" ng-click="takePicture()"></i>
            </div>
        </div>

        </div>
        <div class="list">
             <label class="item item-input" id="newItem">
                 <i class="icon-left ion-edit"></i><input ng-model="item.name" type="text" placeholder="item description">
            </label>
            <div class="item range range-positive">
                size
                <input type="range" name="volume" min="0" max="3" value="1" ng-model="item.size">
            </div>
        </div>
    <div class="item item-image">
        <img class="plusSign" src="img/plus_sign.png" ng-click="addItem()">
    </div>
    </ion-content>
</ion-view>