<ion-view title="{{stackName}}">
    <!--<ion-header-bar class="bar-stable">-->
    <!--<h1 class="title">Haul Stack</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div class="card" id="createStack">
            <div class="item item-divider">
                Category Name
            </div>
            <div class="list card">
                <P>It looks like you don't have any items in this stack. Add an item by clicking on the icon below</P>
            </div>
            <div class="item item-image">
                <a ui-sref="newItem"><img class="plusSign" src="img/plus_sign.png"></a>
            </div>
        </div>
    </ion-content>
</ion-view>