<ion-view title="{{stackName}}">
    <ion-nav-buttons side="right" ng-show="false">
        <button ng-click="deleteStack()" class="button button-icon button-clear ion-trash-a"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list ng-show="items">
        <ion-item ng-repeat="item in items" ng-click="openItem(item)">
            {{item.name}}
        </ion-item>
        </ion-list>


        <div class="card" id="createStack">
            <div class="item item-divider">
               Add a New Item
            </div>
            <div class="item item-image">
                <img class="plusSign" src="img/plus_sign.png" ng-click="newItem()">
            </div>
        </div>
    </ion-content>
</ion-view>