<ion-view title="Stacks" >

    <ion-content>
        <ion-list ng-show"stacks">
            <ion-item ng-repeat="stack in stacks" ng-click="openStack(stack)">
                {{stack.title}}
            </ion-item>
        </ion-list>
        <div class="card" id="createStack">
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input" id="stackInput">
                        <input ng-model="stackId.title" type="text" placeholder="name your stack">
                   </label>
                </div>
            </div>
            <div class="item item-image">
                <img ng-click="addStack()" class="plusSign" src="img/plus_sign.png" >
            </div>
        </div>
    </ion-content>
</ion-view>